:root {
    --primary-color: darkgreen;
    --secondary-color: darkblue;
    --accent1-color: rgba(128, 246, 117, 0.758);
    --accent2-color: rgb(160, 248, 163);

    --heading-font: 'Algerian', sans-serif;
    --paragraph-font: 'Times New Roman', sans-serif;

    --nav-background-color: var(--accent2-color);
    --nav-link-color:var(--primary-color);
    --nav-hover-link-color:var(--accent2-color);
    --nav-hover-background-color:var(--secondary-color);
}

main{
    padding: 15px;
    grid-column: 1/3;
}

.flex{
    width: 300px;
    height: 300px;
    display: grid;
    grid-column: 1/2;
    align-self: center;
    font-size: large;
    text-align: center;
    border: 1px solid red;
    justify-content: center;
}
body{
    font-family: var(--paragraph-font);
    padding: 0 6rem;
}
header {
    padding: 15px;
    background-color: var(--accent2-color);
    justify-content: space-evenly;
}

p{
    padding: 12px;
}
nav{
    background-color: var(--nav-background-color);
    justify-content: space-evenly;
    grid: 2/3;
    font-size: large;
    font-style: var(--heading-font);
    display: flex;
}
nav a{
    padding: 2rem;
    text-decoration: solid;
}
nav a:hover{
    background-color: var(--nav-hover-background-color);
    color: var(--nav-hover-link-color);
}
h1{
    justify-content: center;
    padding: 25px;
    font-size: xx-large;
    text-align: center;

}

.main{
    max-width: 750px;
    display: grid;
    align-self: center;
    font-size: larger;
    text-align: left;
    border: 1px solid red;
    justify-content: right;
    grid-column: 2/3;
    float: left;
    height: 300px;
}

footer{
    padding: 15px;
    background-color: var(--accent2-color);
    justify-content: space-evenly;
}